<!DOCTYPE html>
<html>
    <head>
        <title>Password Generator</title>
    </head>
    <body>
        <h1>Password Generator</h1>
        <p style="color: red;">The maximum length is 50 characters</p>

        <form action="/main" method='POST'>
            <p>Length: <input type="text" name="length"></p>
            <p>Include Symbols: <input type="checkbox" name="symbols"> (e.g. @#$%&*-_=+) </p>
            <p>Include Numbers: <input type="checkbox" name="numbers"> (e.g. 1234567890)</p>
            <p>Include Lowercase Characters: <input type="checkbox" name="lowercase"> (e.g. abcd)</p>
            <p>Include Uppercase Characters: <input type="checkbox" name="uppercase"> (e.g. ABCD)</p>
            <p>Include Ambiguous Characters: <input type="checkbox" name="amb_char"> (e.g. {}[]()<>""\'\'/\~)</p>
            <p>Password: <input id="copy" type="text" value="{{ password }}"> <button onclick="Copy()">Copy</button></p>
            <p><input type="submit" value="Generate Password"></p>
        </form>

        <script>
            function Copy() {
              var copyText = document.getElementById("copy");
              copyText.select();
              copyText.setSelectionRange(0, 99999)
              document.execCommand("copy");
            }
        </script>
    </body>
</html>