<html>
    <head>
        <title>Password Generator</title>
    </head>
    <body>
        <h1>Password Generator</h1>

        <form action="/fetch_data">
            <p>Length: <input type="text" name="length"></p>
            <p>Include Symbols: <input type="checkbox" name="include_symbols">(e.g. @#$%&*-_=+)</p>
            <p>Include Numbers: <input type="checkbox" name="include_numbers">(e.g. 1234567890)</p>
            <p>Include Lowercase Characters: <input type="checkbox" name="include_lowercase">(e.g. abcd) </p>
            <p>Include Uppercase Characters: <input type="checkbox" name="include_uppercase">(e.g. ABCD)</p>
            <p>Include Ambiguous Characters: <input type="checkbox" name="include_ambiguous_characters">(e.g. {}[]()<>""\'\'/\~)</p>
            <p>Password: {{ password }} </p>
            <p><input type="submit" value="Generate Password"></p>
        </form>
    </body>
</html>